body {
  font-family: sans-serif;
  color: white;
  font-size: xx-large;
  user-select: none;
}
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #dedcdc5e;
  overflow-y: auto;
}
.wysiwyg {
}
.wysiwyg>.paper {
  position: absolute;
  background: white;
  height: auto;
  width: calc(21cm - 100px) !important;
  padding: 50px;
  top: 90px;
  right: calc(50% - 10.5cm);
  margin-bottom: 50px;
  color: black;
  font-family: "Times New Roman";
  font-size: 12pt;
}
.wysiwyg>.options {
  position: absolute;
  background: #60678b;
  height: 40px;
  width: 21cm !important;
  top: 50px;
  right: calc(50% - 10.5cm);
  color: white ;
  font-family: "Times New Roman";
  font-size: 12pt;
}
.wysiwyg>.options>.element-line {
  display: inline-flex;
  background: black;
  width: calc(100% - 10px);
  padding: 5px;
  height: 30px;
}
.wysiwyg>.options>.element-line>.element {
  cursor: pointer;
  width: auto;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  background: black;
}
.wysiwyg>.options>.element-line>.element>.font-select {
  color: white;
  background: black;
}
.wysiwyg>.options>.element-line>.element>.action-select {
  color: white;
  background: black;
}
.wysiwyg>.options>.element-line>.element.font-size>input {
  width: 40px;
}
.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bolder;
}
.italic {
  font-style: italic;
}
.strikethrough {
  text-decoration: line-through;
}
